*.linkinfo
*.o
*.orig
*.pyc
*.pyo
*.so
*.sw?
*~
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
.noseids
*.DS_Store
*.bak
Theano.egg-info
\#*\#
build
compiled/*.cpp
core.*
cutils_ext.cpp
dist
doc/.build/
doc/indexes/oplist.txt
doc/indexes/typelist.txt
html
pdf
setuptools-*.egg
theano/generated_version.py
theano/generated_version.py.out
distribute-*.egg
distribute-*.tar.gz
Theano.suo
.ipynb_checkpoints
.pydevproject
.ropeproject
