[submodule "third_party/convnet-benchmarks"]
	path = qa/third_party/convnet-benchmarks
	url = https://github.com/soumith/convnet-benchmarks
	branch = master
[submodule "third_party/lasagne"]
	path = qa/third_party/lasagne
	url = https://github.com/Lasagne/Lasagne.git
	branch = master
[submodule "third_party/pylearn2"]
	path = qa/third_party/pylearn2
	url = https://github.com/lisa-lab/pylearn2.git
	branch = master
[submodule "libgpuarray"]
	path = libgpuarray
	url = https://github.com/Theano/libgpuarray.git
[submodule "pycuda"]
	path = pycuda
	url = https://github.com/inducer/pycuda
[submodule "skcuda"]
	path = skcuda
	url = https://github.com/lebedov/scikit-cuda.git
