[submodule "third_party/convnet-benchmarks"]
	path = qa/third_party/convnet-benchmarks
	url = https://github.com/soumith/convnet-benchmarks
	branch = master
[submodule "libgpuarray"]
	path = libgpuarray
	url = https://github.com/Theano/libgpuarray.git
[submodule "third_party/scikit-cuda"]
	path = third_party/scikit-cuda
	url = https://github.com/lebedov/scikit-cuda.git
	branch = master
[submodule "third_party/pycuda"]
	path = third_party/pycuda
	url = https://github.com/inducer/pycuda
[submodule "third_party/Lasagne"]
	path = third_party/Lasagne
	url = https://github.com/lasagne/Lasagne.git
[submodule "third_party/platoon"]
	path = third_party/platoon
	url = https://github.com/mila-udem/platoon
