# Prevent git from showing duplicate names with commands like "git shortlog"
# # See the manpage of git-shortlog for details.
# # The syntax is:
# # Name that should be used <email that should be used> Bad name <bad email>
# #
# # You can skip Bad name if it is the same as the one that should be used, and is unique.
# #
# # This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# # gives no duplicates.
#     5	Firstname Lastname <firstname.lastname@example.net>
#     4	Laboratoire d'Informatique des Systemes Adaptatifs <lisa@iro.umontreal.ca>
#    25	projects@lgcm <projects@lgcm>

abalkin <abalkin@enlnt.com> abalkin <abalkin>
abalkin <abalkin@enlnt.com> abalkin <serpent.speak@gmail.com>
abalkin <abalkin@enlnt.com> Alexander Belopolsky <abalkin@enlnt.com>
abalkin <abalkin@enlnt.com> Alexander Belopolsky <a@enlnt.com>
Adam Becker <junkkhaotik@gmail.com> khaotik <aruhanb@gmail.com>
Adam Becker <junkkhaotik@gmail.com> khaotik <junkkhaotik@gmail.com>
Adrian Seyboldt <aseyboldt@gmail.com> aseyboldt <aseyboldt@gmail.com>
Aleksandar Botev <botevmg@gmail.com> botev <botevmg@gmail.com>
Alex Lamb <alex6200@gmail.com> AlexLamb <alex6200@gmail.com>
Alex Lamb <alex6200@gmail.com> DeathMonster666 <alex6200@gmail.com>
Alexandre de Brebisson <adbrebs@gmail.com> AdeB <adbrebs@gmail.com>
Alexandre de Brebisson <adbrebs@gmail.com> Alexandre de Brébisson <adbrebs@users.noreply.github.com>
Anatoly Belikov <awbelikov@gmail.com> Anatoly Belikov <wormblood@gmail.com>
Andre Holzner <Andre.Georg.Holzner@cern.ch> Andre Holzner <holzner@pb-d-128-141-148-222.cern.ch>
Andre Holzner <Andre.Georg.Holzner@cern.ch> andreh <andreh@localhost>
Andre Holzner <Andre.Georg.Holzner@cern.ch> Andre Holzner <holzner@andres-mbp-2.fritz.box>
Andrei Costinescu <andrei.costinescu@yahoo.com> Andrei Costinescu <AndreiCostinescu@users.noreply.github.com>
Andrei Costinescu <andrei.costinescu@yahoo.com> AndreiCostinescu <andrei.costinescu@yahoo.com>
Anirudh Goyal <anirudhgoyal9119@gmail.com> AndroidCloud <anirudhgoyal9119@gmail.com>
Arjun Jain <arjunjain@gmail.com> Arjun Jain <stencilman@users.noreply.github.com>
Arnaud Bergeron <abergeron@gmail.com> <abergeron@gmail.com>
Arnaud Bergeron <abergeron@gmail.com> <bergearn@iro.umontreal.ca>
<abergeron@gmail.com> <anakha@kami.(none)>
Balázs Hidasi <hidasi.balazs@gravityrd.com> Balázs <hidasib@gmail.com>
Bart van Merrienboer <bart.vanmerrienboer@gmail.com> Bart van Merriënboer <bart.vanmerrienboer@gmail.com>
Bart van Merrienboer <bart.vanmerrienboer@gmail.com> Bart <bart.vanmerrienboer@gmail.com>
Benjamin Scellier <scellier@iro.umontreal.ca> Benjamin Scellier <scellier@bart4.iro.umontreal.ca>
Benjamin Scellier <scellier@iro.umontreal.ca> Benjamin Scellier <scellier@bart5>
Benjamin Scellier <scellier@iro.umontreal.ca> Benjamin Scellier <scellier@eos13.iro.umontreal.ca>
Benjamin Scellier <scellier@iro.umontreal.ca> Benjamin Scellier <scellier@sencha.iro.umontreal.ca>
Benjamin Scellier <scellier@iro.umontreal.ca> Benjamin Scellier <benjamin.scellier@gmail.com>
Benjamin Scellier <scellier@iro.umontreal.ca> bscellier <bscellier@users.noreply.github.com>
Bogdan Budescu <bbudescu@gmail.com> bbudescu <bbudescu@gmail.com>
Brian Cheung <briancheung@users.noreply.github.com> briancheung <bcheung5@gmail.com>
Caglar <ca9lar@gmail.com> Caglar <caglar@users.noreply.github.com>
Cesar Laurent <cesarlaurent77@gmail.com> César Laurent <Thrandis@users.noreply.github.com>
Chienli Ma <maqianlie@gmail.com> Chienli Ma(马千里) <maqianlie@gmail.com>
Chienli Ma <maqianlie@gmail.com> ChienliMa <maqianlie@gmail.com>
Chiheb Trabelsi <chiheb.tr@gmail.com> Chiheb Trabelsi <trabelsc@bart5>
Chinnadhurai Sankar <chinnadhurai@gmail.com> Chinnadhurai Sankar <sankarch@leto04.iro.umontreal.ca>
Chinnadhurai Sankar <chinnadhurai@gmail.com> Chinnadhurai Sankar <sankarch@leto50.iro.umontreal.ca>
Chinnadhurai Sankar <chinnadhurai@gmail.com> Chinnadhurai Sankar <sankarch@kepler2.iro.umontreal.ca>
Chinnadhurai Sankar <chinnadhurai@gmail.com> Chinnadhurai Sankar <sankarch@kepler3.iro.umontreal.ca>
Chinnadhurai Sankar <chinnadhurai@gmail.com> chinnadhurai <chinnadhurai@gmail.com>
Claude Coulombe <claude.coulombe@gmail.com> Claude Coulombe <claude.coulombe@gmail.comgit statuslscd /Users/claudecoulombe/gitlspwdsay Isabellegit config --global user.email claude.coulombe@gmail.com>
David Warde-Farley <wardefar@iro.umontreal.ca> David Warde-Farley <dwf@cs.toronto.edu>
David Warde-Farley <wardefar@iro.umontreal.ca> David Warde Farley <dwf@cs.toronto.edu>
David Warde-Farley <wardefar@iro.umontreal.ca> David Warde-Farley <d.warde.farley@gmail.com>
Douglas Eck <douglas.eck@gmail.com> eckdoug@localhost <eckdoug@localhost>
Douglas Eck <douglas.eck@gmail.com> eckdoug@waits.local <eckdoug@waits.local>
Dmitrii Serdiuk <serdyuk.dmitriy@gmail.com> dima <serdyuk.dmitriy@gmail.com>
Dmitrii Serdiuk <serdyuk.dmitriy@gmail.com> dmitriy-serdyuk <serdyuk.dmitriy@gmail.com>
Dmitrii Serdiuk <serdyuk.dmitriy@gmail.com> serdyuk <serdyuk.dmitriy@gmail.com>
Dumitru Erhan <dumitru.erhan@gmail.com> dumitru@deepnets.mtv.corp.google.com <dumitru@deepnets.mtv.corp.google.com>
Dumitru Erhan <dumitru.erhan@gmail.com> erhandum@bikat.iro.umontreal.ca <erhandum@bikat.iro.umontreal.ca>
Dzmitry Bahdanau <dimabgv@gmail.com> rizar <dimabv@tut.by>
Eric Hunsberger <hunse@ctn> hunse <hunse@ctn>
Ethan Buchman <ebuchman@uoguelph.ca> ebuchman <ebuchman@uoguelph.ca>
Evelyn Mitchell <efm-github@linsomniac.com> evelynmitchell <efm-github@linsomniac.com>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@bart7.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@elisa1.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@eos3.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@kepler2.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@kepler3.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@ceylon.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@leto21.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk Ahmed <ahmedfar@leto23.iro.umontreal.ca>
Faruk Ahmed <faruk.ahmed.91@gmail.com> Faruk-Ahmed <faruk.ahmed.91@gmail.com>
Fei Wang <fay96816@gmail.com> fay <fay96816@gmail.com>
Francesco Visin <fvisin@gmail.com> Francesco <fvisin@users.noreply.github.com>
Francesco Visin <fvisin@gmail.com> fvisin <fvisin@gmail.com>
Francois Savard <devnull@localhost> fsavard <devnull@localhost>
Frederic Bastien <nouiz@nouiz.org> Frederic Bastien <bastienf@briaree1.rqchp.qc.ca>
Frederic Bastien <nouiz@nouiz.org> Frederic Bastien <Frederic Bastien>
Frederic Bastien <nouiz@nouiz.org> Frederic Bastien <bastienf@iro.umontreal.ca>
Frederic Bastien <nouiz@nouiz.org> Frédéric Bastien <nouiz@nouiz.org>
Frederic Bastien <nouiz@nouiz.org> Nouiz <nouiz@Nouiz-lap-ub.(none)>
Frederic Bastien <nouiz@nouiz.org> Nouiz <nouiz@nouiz.org>
Frederic Bastien <nouiz@nouiz.org> bastienf@bikat.iro.umontreal.ca <bastienf@bikat.iro.umontreal.ca>
Frederic Bastien <nouiz@nouiz.org> bastienf@ldapk3.scinet.utoronto.ca <bastienf@ldapk3.scinet.utoronto.ca>
Frederic Bastien <nouiz@nouiz.org> nouiz <nouiz@nouiz.org>
Frederic Bastien <nouiz@nouiz.org> Frederic <nouiz@nouiz.org>
Frederic Bastien <nouiz@nouiz.org> Frédéric Bastien <frederic.bastien@gmail.com>
Frederic Bastien <nouiz@nouiz.org> theano-bot <frederic.bastien.1@umontreal.ca>
Gennadiy Tupitsin <genichyar@genichyar.com> genichyar <genichyar@genichyar.com>
Ghislain Antony Vaillant <ghisvail@gmail.com> Ghislain Antony Vaillant <ghisvail@users.noreply.github.com>
Gokula Krishnan <gokul.uf@gmail.com> Gokul <gokul.uf@gmail.com>
Grégoire Mesnil <gregoire.mesnil@gmail.com> Grégoire <gregoire.mesnil@laposte.net>
Grégoire Mesnil <gregoire.mesnil@gmail.com> Grégoire <gregoire.mesnil@gmail.com>
Guillaume Alain <guillaume.alain.umontreal@gmail.com> Guillaume Alain <gyomalin@gmail.com>
Guillaume Desjardins <guillaume.desjardins@gmail.com> desjagui <devnull@localhost>
Guillaume Desjardins <guillaume.desjardins@gmail.com> desjagui@atchoum.iro.umontreal.ca <desjagui@atchoum.iro.umontreal.ca>
Guillaume Desjardins <guillaume.desjardins@gmail.com> desjagui@opale.iro.umontreal.ca <desjagui@opale.iro.umontreal.ca>
Guillaume Desjardins <guillaume.desjardins@gmail.com> gdesjardins <devnull@localhost>
Guillaume Desjardins <guillaume.desjardins@gmail.com> tutorial/debug_faq.txt <devnull@localhost>
gw0 [http://gw.tnode.com/] <gw.2015@tnode.com> gw0 [http://gw.tnode.com/] <gw.2016@tnode.com>
Hani Almousli <hani.mousli@gmail.com> Hani <hani.mousli@gmail.com>
Hani Almousli <hani.mousli@gmail.com> HaniAlmousli <hani.mousli@gmail.com>
Huy Nguyen <huy@huyng.com> huyng <huy@huyng.com>
Ian Goodfellow <goodfellow.ian@gmail.com> Ian Goodfellow <devnull@localhost>
Ian Goodfellow <goodfellow.ian@gmail.com> goodfeli <goodfellow.ian@gmail.com>
Ian Goodfellow <goodfellow.ian@gmail.com> Ian Goodfellow <goodfellow@google.com>
Ian Goodfellow <goodfellow.ian@gmail.com> Ian Goodfellow <ia3n@gryphon0.(none)>
Iban Harlouchet <iban.harlouchet@gmail.com> Iban Harlouchet <harlouci@eos3.iro.umontreal.ca>
Iulian Vlad Serban <julianserban@gmail.com> Iulian Vlad Serban <serbaniv@eos2.iro.umontreal.ca>
Iulian Vlad Serban <julianserban@gmail.com> Iulian Vlad Serban <serbaniv@bart7.iro.umontreal.ca>
Jakub Sygnowski <sygnowski@gmail.com> Jakub Sygnowski <sygi@google.com>
James Bergstra <james.bergstra@gmail.com> James Bergstra <bergstrj@iro.umontreal.ca>
James Bergstra <james.bergstra@gmail.com> bergstra@ip05.m <bergstra@ip05.m>
James Bergstra <james.bergstra@gmail.com> bergstra@mlp4.ais.sandbox <bergstra@mlp4.ais.sandbox>
James Bergstra <james.bergstra@gmail.com> bergstra@tikuanyin <bergstra@tikuanyin>
James Bergstra <james.bergstra@gmail.com> bergstrj@iro.umontreal.ca <bergstrj@iro.umontreal.ca>
James Bergstra <james.bergstra@gmail.com> bergstrj@lgcm <bergstrj@lgcm>
James Bergstra <james.bergstra@gmail.com> james@X40 <james@X40>
James Bergstra <james.bergstra@gmail.com> james@crane <james@crane>
James Bergstra <james.bergstra@gmail.com> james@mackie <james@mackie>
James Bergstra <james.bergstra@gmail.com> james@x40.unstable <james@x40.unstable>
James Bergstra <james.bergstra@gmail.com> test_rng_mrg.py <devnull@localhost>
Jan Schlüter <github@jan-schlueter.de> f0k <github@jan-schlueter.de>
Jeremiah Lowin <jlowin@lowindata.com> Jeremiah Lowin <jlowin@gmail.com>
Jeremiah Lowin <jlowin@lowindata.com> Jeremiah Lowin <jlowin@iHal.local>
Jeremie Tanguay <tanguaj@iro.umontreal.ca> Tanjay94 <you@yourdomain.example.com>
Jeremie Tanguay <tanguaj@iro.umontreal.ca> Jeremie Tanguay <tanguaj@bart4.iro.umontreal.ca>
Jesse Livezey <jesse.livezey@berkeley.edu> JesseLivezey <jesse.livezey@gmail.com>
Jesse Livezey <jesse.livezey@berkeley.edu> Jesse Livezey <jesse.livezey@gmail.com>
João Victor Tozatti Risso <joaovictortr@gmail.com> João Victor Risso <joaovictor.risso@gmail.com>
João Victor Tozatti Risso <joaovictortr@gmail.com> João Victor Tozatti Risso <joaovictor.risso@gmail.com>
John Salvatier <jsalvatier@gmail.com> jsalvatier <jsalvatier@gmail.com>
John Salvatier <jsalvatier@gmail.com> john salvatier <jsalvatier@gmail.com>
John Schulman <john.d.schulman@gmail.com> joschu <john.d.schulman@gmail.com>
jojolalpin <jojolalpin@gmail.com> jojolalpin <jojolalpin gmail>
Joseph Turian <turian@iro.umontreal.ca> Joseph Turian <turian@gmail.com>
Joseph Turian <turian@iro.umontreal.ca> turian@grenat.iro.umontreal.ca <turian@grenat.iro.umontreal.ca>
Joseph Turian <turian@iro.umontreal.ca> turian@lgcm <turian@lgcm>
Joseph Turian <turian@iro.umontreal.ca> turian@lsvm.iro.umontreal.ca <turian@lsvm.iro.umontreal.ca>
Joseph Turian <turian@iro.umontreal.ca> turian@rubis.iro.umontreal.ca <turian@rubis.iro.umontreal.ca>
Joseph Turian <turian@iro.umontreal.ca> turianjo@is23.m <turianjo@is23.m>
Josh Bleecher Snyder <josharian@gmail.com> Josh Bleecher Snyder <josharian+github@gmail.com>
Jörg Bornschein <jb@capsec.org> Joerg Bornschein <bornschein@fias.uni-frankfurt.de>
Karthik Karanth <karanth.karthik@gmail.com> medakk <karanth.karthik@gmail.com>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <iamkelvinxu@gmail.com>
Kelvin Xu <kelvin.xu@umontreal.ca> kelvinxu <iamkelvinxu@gmail.com>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@leto01.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos1.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos16.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@bart5.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos13.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos7.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos18.iro.umontreal.ca>
Kelvin Xu <kelvin.xu@umontreal.ca> Kelvin Xu <xukelvin@eos20.iro.umontreal.ca>
Kv Manohar <kvmanohar22@gmail.com> kvmanohar22 <kvmanohar22@gmail.com>
Kyung Hyun Cho <cho.k.hyun@gmail.com> Kyunghyun Cho <kyunghyuncho@Kyunghyuns-MacBook-Pro.local>
Kyung Hyun Cho <cho.k.hyun@gmail.com> Kyunghyun Cho <kyunghyuncho@kyunghyuns-mbp.sf.umontreal.ca>
Li Yao <yaoli.email@gmail.com> Li Yao <li.yao@umontreal.ca>
Li Yao <yaoli.email@gmail.com> Li Yao <yaoli@iro>
Li Yao <yaoli.email@gmail.com> yaoli <yaoli.email@gmail.com>
Li Yao <yaoli.email@gmail.com> Li <you@yourdomain.example.com>
Liwei Cai <cai_lw@126.com> cai-lw <cai_lw@126.com>
Lucas Beyer <lucasb.eyer.be@gmail.com> lucasb-eyer <lucasb.eyer.be@gmail.com>
Ludwig Schmidt-Hackenberg <ludwig@iupr.com> Ludwig Schmidt-Hackenberg <ludwig@schmidt-hackenberg.net>
Luke Metz <luke.metz@students.olin.edu> = <luke.metz@students.olin.edu>
Markus Roth <markus.roth@herr-biber.de> Markus Roth <mail@rothmark.us>
Mathieu Germain <mathieu.germain@gmail.com> Mathieu Germain <mathieu.germain2@usherbrooke.ca>
Mehdi Mirza <memirzamo@gmail.com> Mehdi Mirza <memimo@users.noreply.github.com>
Mehdi Mirza <memirzamo@gmail.com> memimo <memirzamo@gmail.com>
Mohammed Affan <affanv14@gmail.com> affan <affanv14@gmail.com>
Mohammed Affan <affanv14@gmail.com> affanv14 <affanv14@gmail.com>
Mohammed Affan <affanv14@gmail.com> Ubuntu <ubuntu@ip-172-31-58-125.ec2.internal>
Mohammad Pezeshki <mohammadpz@gmail.com> Mohammad Pezeshki <mohammad@mohammads-mbp.sf.umontreal.ca>
Moslem Kazemi <moslemk@gmail.com> Moslem Kazemi <moslemk@users.noreply.github.com>
Moslem Kazemi <moslemk@gmail.com> Mo <moslemk@gmail.com>
Nan Rosemary Ke <rosemary.ke@west.cmu.edu> nke001 <rosemary.nan.ke@gmail.com>
Nicolas Ballas <ballas.n@gmail.com> Kcub <ballas@lrde.epita.fr>
Nicolas Ballas <ballas.n@gmail.com> ballasn <ballas.n@gmail.com>
Nicolas Boulanger-Lewandowski <nicolas_boulanger@hotmail.com> boulanni <nicolas_boulanger@hotmail.com>
Nicolas Pinto <pinto@alum.mit.edu> Nicolas Pinto <nicolas.pinto@gmail.com>
Olivier Breuleux <breuleux@gmail.com> Olivier Breuleux <breuleuo@iro.umontreal.ca>
Olivier Breuleux <breuleux@gmail.com> olivier@olivier-desktop <olivier@olivier-desktop>
Olivier Breuleux <breuleux@gmail.com> olivier@ordinateur-de-olivier.local <olivier@ordinateur-de-olivier.local>
Olivier Delalleau <delallea@iro> Olivier Delalleau <delallea@iro.umontreal.ca>
Olivier Delalleau <delallea@iro> delallea <delallea@iro.umontreal.ca>
Olivier Delalleau <delallea@iro> delallea@valhalla.apstat.com <delallea@valhalla.apstat.com>
Orhan Firat <orhan.firat@ceng.metu.edu.tr> orhanf <orhan.firat@ceng.metu.edu.tr>
Pascal Lamblin <lamblinp@iro.umontreal.ca> lamblin <lamblinp@iro.umontreal.ca>
Pascal Lamblin <lamblinp@iro.umontreal.ca> lamblinp@lgcm <lamblinp@lgcm>
Philippe Hamel <hamel.phil@gmail.com> Philippe  Hamel <hamel.phil@gmail.com>
Philippe Hamel <hamel.phil@gmail.com> Philippe Hamel <higgsbosonh@hotmail.com>
Pierre-Antoine Manzagol <pierre.antoine.manzagol@gmail.com> Pierre-Antoine Manzagol <manzagop@iro>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> --global <carrier.pierreluc@gmail.com>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@bart2.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> carriepl <carriepl@users.noreply.github.com>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@grincheux.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@leprof.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@chai.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@eos3.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@bart2.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> Pierre Luc Carrier <carriepl@bart3.iro.umontreal.ca>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> pl <carrier.pierreluc@gmail.com>
Pierre Luc Carrier <carrier.pierreluc@gmail.com> carriepl <carrier.pierreluc@gmail.com>
Ramana Subramanyam <vxrram95@gmail.com> sentient07 <vxrram95@gmail.com>
Ramana Subramanyam <vxrram95@gmail.com> Ramana.S <vxrram95@gmail.com>
Rami Al-Rfou' <rmyeid@gmail.com> Rami Al-Rfou <rmyeid@gmail.com>
Raul Chandias Ferrari <devnull@localhost> chandiar <devnull@localhost>
Razvan Pascanu <r.pascanu@gmail.com> Razvan Pascanu <pascanur@iro>
Razvan Pascanu <r.pascanu@gmail.com> Razvan Pascanu <rman@rman-Dell-System-XPS-L502X.(none)>
Razvan Pascanu <r.pascanu@gmail.com> Razvan Pascanu <rman@rman-pad.(none)>
Razvan Pascanu <r.pascanu@gmail.com> pascanur@simplet.iro.umontreal.ca <pascanur@simplet.iro.umontreal.ca>
Razvan Pascanu <r.pascanu@gmail.com> rman@rpad <rman@rpad>
Reyhane Askari <r.askari.hemmat@gmail.com> Reyhane Askari <ReyhaneAskari@users.noreply.github.com>
Roy Xue <xljroy@gmail.com> Lijun Xue <xljroy@gmail.com>
Ruslana Makovetsky <ruslana@cim.mcgill.ca> ruslanagit <ruslana@cim.mcgill.ca>
Sander Dieleman <sanderdieleman@gmail.com> benanne <sanderdieleman@gmail.com>
Sebastian Berg <sebastian@sipsolutions.net> seberg <sebastian@sipsolutions.net>
Sebastien Jean <jeasebas@iro.umontreal.ca> sebastien <jeasebas@iro.umontreal.ca>
Sebastien Jean <jeasebas@iro.umontreal.ca> sebastien-j <jeasebas@iro.umontreal.ca>
Sebastien Jean <jeasebas@iro.umontreal.ca> sebastien-j <sebastien.jean@mail.mcgill.ca>
Simon Lefrancois <simon.lefrancois@umontreal.ca> slefrancois <simon.lefrancois@umontreal.ca>
Simon Lefrancois <simon.lefrancois@umontreal.ca> Simon Lefrancois <lefransi@iro.umontreal.ca>
Simon Lefrancois <simon.lefrancois@umontreal.ca> Jenkins <jenkins@milaburger.iro.umontreal.ca>
Simon Lefrancois <simon.lefrancois@umontreal.ca> mila <mila@earlgrey.iro.umontreal.ca>
Sina Honari <honaris@iro.umontreal.ca> SinaHonari <sina2222@gmail.com>
Sina Honari <honaris@iro.umontreal.ca> Sina Honari <honaris@eos21.iro.umontreal.ca>
Sina Honari <honaris@iro.umontreal.ca> Sina Honari <sina.honari@gmail.com>
Søren Kaae Sønderby <skaaesonderby@gmail.com> skaae <skaaesonderby@gmail.com>
Steven Bocco <stevenbocco@gmail.com> notoraptor <stevenbocco@gmail.com>
Steven Bocco <stevenbocco@gmail.com> notoraptor <notoraptor@users.noreply.github.com>
Steven Bocco <stevenbocco@gmail.com> Seton Steven Bocco <boccoset@elisa1.iro.umontreal.ca>
Steven Bocco <stevenbocco@gmail.com> Seton Steven Bocco <boccoset@leto01.iro.umontreal.ca>
Steven Bocco <stevenbocco@gmail.com> Seton Steven Bocco <boccoset@leto15.iro.umontreal.ca>
Steven Bocco <stevenbocco@gmail.com> Seton Steven Bocco <boccoset@leto51.iro.umontreal.ca>
Steven Pigeon <pigeon@iro.umontreal.ca> steven-pigeon <pigeon@iro.umontreal.ca>
Thomas George <tfjgeorge@gmail.com> Thomas George <georgeth@helios1.helios>
Thomas Wiecki <thomas.wiecki@gmail.com> twiecki <thomas.wiecki@gmail.com>
Valentin Bisson <valentin.bisson@umontreal.ca> onze <onzeonline@gmail.com>
Xavier Bouthillier <xavier.bouthillier@gmail.com> Xavier Bouthillier <xavier.bouthillier@umontreal.ca>
Xavier Bouthillier <xavier.bouthillier@gmail.com> Xavier Bouthillier/ <xavier.bouthillier@gmail.com>
Xavier Glorot <glorotxa@iro.umontreal.ca> glorotxa <glorotxa@iro.umontreal.ca>
Xavier Glorot <glorotxa@iro.umontreal.ca> glorotxa@timide.iro.umontreal.ca <glorotxa@timide.iro.umontreal.ca>
Vincent Dumoulin <vi.dumoulin@gmail.com> vdumoulin <vi.dumoulin@gmail.com>
Vincent Michalski <vincent.michalski@umontreal.ca> Vincent Michalski <vmichals@rz.uni-frankfurt.de>
Vitaliy Kurlin <vitaliykurin@gmail.com> yobibyte <vitaliykurin@gmail.com>
Vivek Kulkarni <viveksck@gmail.com> Vivek Kulkarni <vvkulkarni@cs.stonybrook.edu>
Wei Li <kuantkid@gmail.com> kuantkid <kuantkid@gmail.com>
Yann N. Dauphin <yann@dauphin.io> Yann N. Dauphin <dhaemon@gmail.com>
Yaroslav Ganin <ganin@skoltech.ru> Yaroslav Ganin <ganin@skolkovotech.ru>
Yikang Shen <yikang.shn@gmail.com> yikang <yikang.shn@gmail.com>
Yoshua Bengio <bengioy@iro.umontreal.ca> bengioy@bengio-mac.local <bengioy@bengio-mac.local>
Ziye Fan <fanziye.cis@gmail.com> FanZiye(t13m) <fanziye.cis@gmail.com>
Zhouhan LIN <lin.zhouhan@gmail.com> hantek <lin.zhouhan@gmail.com>
Zhouhan LIN <lin.zhouhan@gmail.com> Zhouhan LIN <hantek@Zhouhans-MacBook-Pro.local>
