# After changing this file, check it on:
# http://lint.travis-ci.org/

language: python
python:
  - "2.6"
#  - "2.7"
#  - "3.2"
# command to install dependencies
before_install:
  - sudo apt-get install -q libatlas3gf-base libatlas-dev liblapack-dev gfortran
#  - sudo apt-get install -q libopenblas-dev
install:
# If we don't install numpy before SciPy 0.10.1, the SciPy installations fails.
  - "pip install -q numpy==1.5 --use-mirrors"
# We support scipy 0.7.2, but it is not available on pypi anymore.
# So we test with 0.8. Our internal buildbot have 0.7.2.
# We install it later only for the PART that need it.
#  - "pip install -q scipy==0.8 --use-mirrors"
  - "pip install . --no-deps --use-mirrors"
# command to run tests
env:
  - PART="theano/tensor/nnet/ theano/tensor/signal/ theano/compile/ theano/gof/ theano/misc/ theano/tests/ theano/compat theano/scan_module/"
# This part is select such that all scipy code is there.
# We install scipy only for this part to make the test time faster.
  - PART="theano/sandbox theano/sparse theano/scalar/"
  - PART="theano/tensor/tests/test_basic.py"
  - PART="-e test_basic.py theano/tensor/tests"
script:
  - "if [ `expr \"$PART\" : '.*sparse'` -gt \"0\" ]; then pip install scipy==0.8 --use-mirrors; fi"
  - "if [ `expr \"$PART\" : '.*nnet'` -gt \"0\" ]; then pip install scipy==0.8 --use-mirrors; fi"
  - export THEANO_FLAGS=warn.ignore_bug_before=all,on_opt_error=raise,on_shape_error=raise
  - python --version
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - echo $PART
  - theano-nose -v $PART


#after_script:
after_failure:
  - cat /home/travis/.pip/pip.log
#after_success:
