# After changing this file, check it on:
# http://lint.travis-ci.org/

language: python
python:
  - "2.5"
#  - "2.7"
#  - "3.2"
# command to install dependencies
before_install:
  - sudo apt-get install -qq libatlas3gf-base libatlas-dev
install:
#If we don't install numpy before SciPy 0.10.1, the SciPy installations fails.
  - "pip install -q numpy==1.5 --use-mirrors"
#We can't install SciPy as there is no BLAS installed.
  - "pip install . --no-deps --use-mirrors"
# command to run tests
env:
  - PART="theano/tensor/nnet/ theano/tensor/signal/ theano/compile/ theano/gof/ theano/misc/ theano/scalar/ theano/tests/"
  - PART="theano/scan_module/ theano/sandbox theano/sparse"
  - PART="theano/tensor/tests/test_basic.py"
  - PART="-e test_basic.py theano/tensor/tests"
script:
  - export THEANO_FLAGS=warn.ignore_bug_before=all,on_opt_error=raise,on_shape_error=raise
  - python --version
  - echo $PART
  - theano-nose $PART


#after_script:
#after_failure:
#after_success: