global-include *.txt
global-include *.c
global-include *.cu
global-include *.cuh
global-include *.cpp
global-include *.h
global-include *.sh
global-include *.pkl
recursive-include docs
include bin/theano-cache
include bin/theano-nose
include bin/theano-test
