/*
 * :Author: Your Name
 * :Contact: Your Email Address
 * :Copyright: This stylesheet has been placed in the public domain.
 *
 * Stylesheet for use with Docutils.  [Optionally place a more
 * detailed description here.]
 * */

@import url(html4css1.css); /* for basic rst stuff */
@import url(colorful.css); /* for source highlighting */

/* Your customizations go here.  For example: */

/*
h1, h2, h3, h4, h5, h6, p.topic-title {
      font-family: sans-serif }
      */

